@charset "UTF-8";
/* CSS Document */
/* ----- TOP NAV ----- */
.top-nav-wrap {
  margin-bottom: -1.75em;
  position: relative;
  z-index: 3;
  padding: 0 1.5em; }

.top-nav {
  max-width: 1440px;
  margin: auto; }

.top-nav .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background: #19656a;
  background: #22a4ac;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #27484a;
  background: #27353c; }

.top-nav .menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .top-nav .menu li {
    list-style: none;
    margin: 0;
    padding: 0; }
    .top-nav .menu li a {
      display: inline-block;
      vertical-align: top;
      font-size: 0.8em;
      padding: 1.5em 1.25em 1.5em 1.75em;
      color: #fff;
      font-weight: 100;
      text-transform: uppercase;
      font-family: 'Oswald';
      letter-spacing: 2.5px; }
      .top-nav .menu li a:hover {
        color: #e1cd83; }
    .top-nav .menu li.about a {
      color: #fff;
      -moz-border-radius: 100px 0 0 100px;
      -webkit-border-radius: 100px 0 0 100px;
      border-radius: 100px 0 0 100px; }
    .top-nav .menu li.contact {
      margin-left: auto !important; }
      .top-nav .menu li.contact a {
        color: #fff;
        background: #b59b39;
        font-weight: 500 !important;
        -moz-border-radius: 0 100px 100px 0;
        -webkit-border-radius: 0 100px 100px 0;
        border-radius: 0 100px 100px 0; }
        .top-nav .menu li.contact a:hover {
          background: #92decd !important; }
    .top-nav .menu li.current-menu-item a {
      background: #92decd; }
      .top-nav .menu li.current-menu-item a:hover {
        color: #fff; }

.single-project .top-nav .menu-item-58 a {
  background: #92decd; }
  .single-project .top-nav .menu-item-58 a:hover {
    color: #fff !important; }

/* ---------- FOOTERNAV ---------- */
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0; }
  .footer-menu li {
    list-style: none;
    padding: 0;
    margin: 0; }
    .footer-menu li a {
      display: block;
      font-family: "Oswald";
      padding: 0.25em 0.75em 0.25em 0;
      transition: .3s;
      -moz-transition: .3s;
      -webkit-transition: .3s; }

.footer-menu li a:hover,
.footer-menu .current-menu-item a,
.single-project .footer-menu .menu-item-58 a {
  color: #92decd; }

.footerNav .menu li .home:hover,
.footerNav .menu li .home.active:hover {
  border-left: 0.5em solid #11505D;
  border-right: 7em solid #11505D;
  padding: 0.25em 0.75em;
  border-right: 2em solid #11505D; }

.footerNav .menu li .home.active {
  border: none;
  padding: 0.25em 0.75em 0.25em 0; }

/* CSS Document */
/* ----------------------------------------------- COMMON STYLES --- */
/* ----- Subheader ----- */
.not-front .headerWrapOuter {
  height: 400px; }

.subHeader {
  padding-top: 150px; }

@media (max-width: 620px) {
  .not-front .header {
    padding-top: 1em; }

  .not-front .myName {
    font-size: 2.25rem; }

  .not-front .myTag {
    font-size: 1.5rem; } }
#block-block-4 {
  margin-left: -820px; }

/* ----- Page Title ----- */
.not-front #page-title {
  margin-bottom: 1em;
  text-align: center; }

/* ----------------------------------------------- CONTACT --- */
/* ----- Contact Form ----- */
.nf-before-form-content,
.nf-error-msg {
  display: none; }

.nf-form-cont .nf-field-element {
  position: relative;
  margin: 0 0.5em 1em;
  transition: 0.3s; }

.nf-form-cont .nf-field-element input,
.nf-form-cont .nf-field-element textarea {
  box-shadow: 0 2px 15px 2px #ddd; }

.nf-form-cont .nf-field-element input,
.nf-form-cont .nf-field-element textarea {
  padding: 20px 0 20px 18%;
  width: 100%;
  border: none;
  background: none;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 300;
  transition: 0.3s; }

/* ----- CHECKBOX & RADIO LIST ----- */
.nf-form-cont .nf-row:nth-child(3) nf-cells {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 2em 0 3em; }

.nf-form-cont .nf-row:nth-child(3) .nf-cell {
  width: 48% !important;
  padding: 0 1em; }

.nf-form-cont .nf-field-element li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9em;
  margin-top: 3em !important; }

.nf-form-cont .nf-field-element input[type='checkbox'],
.nf-form-cont .nf-field-element input[type='radio'] {
  padding: 0.75em;
  -webkit-appearance: none;
  margin-right: 1em;
  position: relative; }

.nf-form-cont .nf-field-element input.nf-checked[type='checkbox'],
.nf-form-cont .nf-field-element input.nf-checked[type='radio'] {
  background: #92decd; }

.nf-form-cont .nf-field-element input.nf-checked:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75em;
  color: #fff;
  font-family: FontAwesome;
  z-index: 5;
  content: "\f00c"; }

.nf-form-cont .nf-field-element input[type='radio'] {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.nf-form-cont .nf-field-element input.nf-checked[type='radio']:before {
  content: "\f111";
  font-size: 0.5em; }

.nf-form-cont .nf-field-element textarea {
  padding-left: 9%;
  padding-top: 1.5em; }

.nf-form-cont .nf-field-element:before,
.nf-form-cont .email-container .nf-field-element:before,
.nf-form-cont .textarea-container .nf-field-element:before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75em 1em;
  background: #e1cd83;
  background: #797c8b;
  color: #fff;
  font-family: FontAwesome;
  z-index: 5; }

.nf-form-cont .textbox-container .nf-field-element:before {
  content: "\f007"; }

.nf-form-cont #nf-field-12-wrap .nf-field-element:before {
  content: "\f095"; }

.nf-form-cont .email-container .nf-field-element:before {
  content: "\f0e0";
  padding: 0.75em 0.9em; }

.nf-form-cont #nf-field-13-container .nf-field-element:before {
  content: "\f0c0";
  padding: 0.75em 0.9em; }

.nf-form-cont .textarea-container .nf-field-element:before {
  content: "\f0e6";
  padding: 1.25em 1.35em;
  font-size: 0.8em; }

.nf-form-cont .submit-wrap input {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  background: none;
  padding: 0.75em 2.5em;
  text-decoration: none;
  border: 3px solid #414141;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -webkit-appearance: none;
  font-family: "museo-slab"; }

.nf-form-cont .submit-wrap input:hover {
  cursor: pointer;
  background: #444;
  color: #e1cd83;
  padding: 0.75em 4em 0.75em 1em; }

.nf-form-cont .submit-wrap .nf-field-element {
  width: auto;
  position: relative;
  overflow: hidden; }

.nf-form-cont .submit-wrap .nf-field-element:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  right: -2em;
  top: 50%;
  transform: translateY(-50%);
  content: "\f0e0";
  color: #e1cd83;
  position: absolute;
  transition: 0.2s;
  pointer-events: none; }

.nf-form-cont .submit-wrap .nf-field-element:hover:after {
  right: 1.5em; }

/* ----- CONTACT SOCIAL ----- */
.contact-social-card {
  padding: 1.25em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  .contact-social-card .contact-sc-icon {
    padding-right: 1em; }
  .contact-social-card i {
    font-size: 2em; }
  .contact-social-card .sc-text-main,
  .contact-social-card .sc-text-tag {
    margin: 0;
    line-height: 1.5; }
  .contact-social-card .sc-text-main {
    font-weight: 700;
    text-transform: uppercase; }
  .contact-social-card .sc-text-tag {
    font-size: 0.9em;
    color: #777; }

.contact-social-card-odd {
  background: #f7f7f7; }

/* ----------------------------------------------- ABOUT --- */
.about-sect-tj .custom-html-widget {
  max-width: 1320px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.about-sect-tj-img,
.aboutBioStory {
  width: 48%; }

.aboutBio img.fltRight {
  position: absolute;
  bottom: -6.25em;
  right: -150px;
  z-index: -1;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

@media (max-width: 900px) {
  .aboutImg {
    font-size: 0;
    line-height: 0;
    text-align: center; }

  .aboutBio img.fltRight {
    position: static;
    float: none;
    margin: 0; } }
/* ----- COMMON ----- */
.widget.content-bottom .custom-html-widget {
  max-width: 1320px;
  margin: auto; }

/* --------------------------------------------- COMMENTS -- */
* + .livefyreComment {
  margin-top: 3em;
  box-shadow: 1px 0 3px #ccc;
  padding: 1em;
  background: #fff; }

.livefyreComment .fyre-stream-stats {
  background: #ccc;
  padding: 0.5em 1em;
  margin: -1.125em -1.125em 0; }

.livefyreComment .fyre-login-bar .fyre-user-loggedout,
.livefyreComment .fyre-login-bar .fyre-user-loggedout:hover {
  border: 3px solid #555;
  padding: 0.5em 1em;
  transition: 0.3s; }

.livefyreComment .fyre-login-bar .fyre-user-loggedout:hover {
  color: #fff;
  color: #e1cd83;
  background: #15b9de;
  background: #e1cd83;
  background: #414141; }

.livefyreComment .fyre-editor,
.livefyreComment .fyre-editor-container,
.livefyreComment #fyre-editor-3,
.livefyreComment .fyre-editor iframe {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  background: none !important;
  border: none !important;
  box-shadow: none; }

.livefyreComment .fyre-editor {
  margin-top: 100px;
  box-shadow: 0 0 15px 5px #aaa;
  background: #f7f7f7 !important; }

/* -------------------------------------------- SERVICES PG -- */
.page-id-45 .hp-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  max-width: 1440px;
  margin: 5em auto; }

.page-id-45 .hp-service {
  width: 33%;
  text-align: center;
  padding: 2em 1em; }

.page-id-45 .hp-service:nth-child(odd) {
  background: #f7f7f7; }

.page-id-45 .hp-service h3 {
  margin-bottom: 1em; }

.client-logos-heading span {
  display: block;
  text-transform: uppercase;
  font-family: Asap;
  font-size: 2.6em;
  font-weight: 900;
  letter-spacing: 0;
  color: #802a2b; }

/* ----- PACKAGES ----- */
.services-page-packages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; }
  .services-page-packages .package-item {
    width: 100%;
    padding: 2em 1em; }
    .services-page-packages .package-item .package-item-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start; }
      .services-page-packages .package-item .package-item-content .package-item-title-price,
      .services-page-packages .package-item .package-item-content .select-btn,
      .services-page-packages .package-item .package-item-content .package-item-disclaimer-needs-timeline {
        width: 100%; }
      .services-page-packages .package-item .package-item-content h2 {
        margin: 0; }
      .services-page-packages .package-item .package-item-content .package-item-price {
        font-size: 1.25em;
        font-weight: bold;
        color: #802a2b; }
      .services-page-packages .package-item .package-item-content .package-item-disclaimer {
        font-size: 0.9em;
        font-weight: normal; }
  .services-page-packages .package-item:nth-child(even) {
    background: #f7f7f7; }

/* CSS Document */
/* ----------------------------------------------- LANDING PG --- */
.post-listing,
.post-listing .posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.post-listing .post-item {
  margin-bottom: 1em;
  transition: 0.3s;
  position: relative; }

.blog .post-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0 2px 20px #ccc; }

@media (max-width: 1040px) {
  .post-item {
    width: 45%; } }
.blog .post-item + .post-item {
  margin-top: 1em; }

.blog .post-item:nth-child(even) {
  flex-direction: row-reverse; }

.post-item-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5; }

.btn.blog-listing-edit {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0.75em 1em;
  z-index: 6;
  color: #fff !important;
  position: absolute; }
  .btn.blog-listing-edit:hover {
    background: #92decd; }

.blog .post-listing-thumb,
.blog .post-item-content {
  width: 50%; }

.blog .post-item-content {
  padding: 1.5em; }

.post-listing .post-item h2 {
  font-size: 1.5em;
  line-height: 1.25;
  font-weight: 700;
  margin: 0;
  transition: 0.3s;
  text-transform: uppercase; }

.post-listing-thumb {
  font-size: 0;
  overflow: hidden; }

.post-listing .post-item img {
  transition: 0.75s;
  width: 100%; }

/*
.post-listing .post-item:hover img {
-webkit-filter: blur(2px); 
-moz-filter: blur(2px); 
-o-filter: blur(2px); 
-ms-filter: blur(2px); 
filter: blur(2px);
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
transform: scale(1.5);
}
*/
.blog-listing-meta {
  margin: 0.5em 0 1em;
  padding-top: 0.5em;
  font-weight: normal; }

.blog-article-more {
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
  color: #b59b39;
  font-family: 'asap';
  font-weight: bold; }

/* --------------------------------------------- SIDEBAR -- */
.blog .sidebar-right ul,
.blog .sidebar-right ul li {
  list-style: none;
  padding: 0;
  margin: 0; }

.blog .sidebar-right ul li.cat-item:nth-child(odd) {
  background: #f7f7f7; }

.blog .sidebar-right ul li.cat-item {
  display: block;
  padding: 0.5em 1em; }

/* --------------------------------------------- TWITTER FEED -- */
.content-bottom .timeline-TweetList {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: none; }

.widget.content-bottom .timeline-TweetList .timeline-TweetList-tweet {
  display: block !important;
  width: 30% !important; }

#twitter-widget-0 {
  display: none; }

/* CSS Document */
/* ----- GOOGLE FONT FAMILIES ----- */
/*
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
*/
/* ----- Reset all CSS ----- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit; }
