@charset "UTF-8";
/* CSS Document */
/* --------------------------------------------- CONTENT SECTION -- */
.home .hp-section-services .elementor-post__card {
  background: #aaa url(/wp-content/themes/twentyseventeen-child/images/bkd-hp-services-adolescent.jpg);
  min-height: 350px;
  overflow: hidden; }
  .home .hp-section-services .elementor-post__card .elementor-post__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%; }
    .home .hp-section-services .elementor-post__card .elementor-post__text h3.elementor-post__title {
      position: relative;
      font-size: 2em !important;
      -webkit-transform: translateY(300%);
              transform: translateY(300%); }
      .home .hp-section-services .elementor-post__card .elementor-post__text h3.elementor-post__title:after {
        position: absolute;
        top: 110%;
        left: 0;
        content: '';
        width: 47px;
        height: 5px;
        background: #9ad8b7; }
    .home .hp-section-services .elementor-post__card .elementor-post__text .elementor-post__title a,
    .home .hp-section-services .elementor-post__card .elementor-post__text .elementor-post__excerpt p {
      color: #fff !important; }
    .home .hp-section-services .elementor-post__card .elementor-post__text .elementor-post__excerpt p {
      font-size: 1em !important;
      line-height: 1.65; }
.home .hp-section-services .elementor-post.post-37 h3.elementor-post__title,
.home .hp-section-services .elementor-post.post-39 h3.elementor-post__title {
  -webkit-transform: translateY(180%) !important;
          transform: translateY(180%) !important; }
/*# sourceMappingURL=home.css.map */