@import 'bits';

/* CSS Document */

/* ----------------------------------------------- LANDING PG --- */
.post-listing,
.post-listing .posts-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
//align-items: stretch;
}

.post-listing .post-item {
margin-bottom: 1em;
//box-shadow: 0 2px 20px #ccc;
transition: 0.3s;
position: relative;
//padding-bottom: 4em;
}

.blog .post-item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	box-shadow: 0 2px 20px #ccc;
}

@media (max-width: 1040px) {
	.post-item {
		width: 45%;
	}
}

.blog .post-item + .post-item  { 
	margin-top: 1em;
}

.blog .post-item:nth-child(even) {
	flex-direction: row-reverse;
}

.post-item-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
}

.btn.blog-listing-edit {
	//position: absolute;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0.75em 1em;
	z-index: 6;
	color: #fff !important;
	position: absolute;

	&:hover {
		background: $blue;
	}
}

.blog .post-listing-thumb,
.blog .post-item-content {
	width: 50%;
}

.blog .post-listing-thumb {

}

.blog .post-item-content {
	padding: 1.5em;
}

.post-listing .post-item h2 {
font-size: 1.5em;
line-height: 1.25;
font-weight: 700;
margin: 0;
transition: 0.3s;
text-transform: uppercase;
}

.post-listing-thumb {
font-size: 0;
overflow: hidden;
}

.post-listing .post-item img {
transition: 0.75s;
width: 100%;
}
/*
.post-listing .post-item:hover img {
-webkit-filter: blur(2px); 
-moz-filter: blur(2px); 
-o-filter: blur(2px); 
-ms-filter: blur(2px); 
filter: blur(2px);
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
transform: scale(1.5);
}
*/
.blog-listing-meta {
//font-size: 0.9rem;
margin: 0.5em 0 1em;
padding-top: 0.5em;
//color: #aaa;
font-weight: normal;
//border-top: 1px solid #ddd;
}

.post-item-article-text {
//	margin-bottom: 2em;
}

.blog-article-more {
	display: inline-block;
	vertical-align: top;
	margin-top: 1em;
	color: $gold;
	font-family: 'asap';
	font-weight: bold;
}


/* --------------------------------------------- SIDEBAR -- */
.blog .sidebar-right ul,
.blog .sidebar-right ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.blog .sidebar-right ul li.cat-item:nth-child(odd) {
    background: #f7f7f7;
}

.blog .sidebar-right ul li.cat-item {
display: block;
padding: 0.5em 1em;
}


/* --------------------------------------------- TWITTER FEED -- */
.content-bottom .timeline-TweetList {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	display: none;
}

.widget.content-bottom .timeline-TweetList .timeline-TweetList-tweet {
	display: block !important;
	width: 30% !important;
}

#twitter-widget-0 {
	display: none;
}




















