@import 'bits';

/* CSS Document */

/* ----- GOOGLE FONT FAMILIES ----- */
/*
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
*/


/* ----- Reset all CSS ----- */
  
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead { 
	margin: 0;
	padding: 0; 
	outline: 0; 
	border: 0; 
	background: transparent; 
	vertical-align: baseline; 
	font-weight: inherit; 
	font-style: inherit; 
	font-size: 100%; 
	font-family: inherit; 
}



