@import 'bits';

/* CSS Document */
/* --------------------------------------------- CONTENT SECTION -- */
.home { 
	
	.hp-section-services {
		
		.elementor-post__card {
			background: #aaa url(/wp-content/themes/twentyseventeen-child/images/bkd-hp-services-adolescent.jpg);
			min-height: 350px;
			overflow: hidden;

			.elementor-post__text {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: flex-end;
				align-items: flex-start;
				height: 100%;

				h3.elementor-post__title {
					position: relative;
					font-size: 2em !important;
					transform: translateY(300%);

					&:after {
						position: absolute;
						top: 110%;
						left: 0;
						content: '';
						width: 47px;
						height: 5px;
						background: #9ad8b7;
					}
				}

				.elementor-post__title a,
				.elementor-post__excerpt p {
					color: #fff !important;
				}

				.elementor-post__excerpt p {
					font-size: 1em !important;
					line-height: 1.65;
				}
			}
		}

		.elementor-post.post-37,
		.elementor-post.post-39 {

			h3.elementor-post__title {
			transform: translateY(180%) !important;
			}
		}
	}
}

